<h2>Actores</h2>

<button mat-flat-button color="primary" routerLink="/actores/crear">Crear nuevo</button>

<app-generic-list [list]="actors">
    <div content>
        <table #table mat-table [dataSource]="actors" class="table-index">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="/actores/editar/{{element.id}}" mat-flat-button color="primary">
                        <mat-icon>
                            edit
                        </mat-icon>
                        Editar
                    </a>
                    <a (click)="delete(element.id)" mat-flat-button color="warn">
                        <mat-icon>
                            delete
                        </mat-icon>
                        Eliminar
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToShow"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons
        [length]="totalRegisters" [pageSize]="registersToShow" (page)="updatePagination($event)">

        </mat-paginator>
    </div>
</app-generic-list>